.service{
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, #1a1826, #413b5e);
}

.img{
    width: 250px;
    height: 240px;
    padding-bottom: 80px;
}

.service p{
    color: #f1f1f1;
    font-size: 1.5em;
    padding-bottom: 50px;
    text-align: center;
}

@media (min-width: 800px) {
    .services p {
      font-size: 2.5em;
    }
    .img {
      width: 406px;
      height: 396px;
    }
  }